*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 150px;
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    color: black;
}